<h2>Posts</h2>

<ul>
  <% @posts.each do |post| %>
    <% if member_signed_in? %>
      <li><%= "#{post.body} - #{post.member.username}"%>
    <% else %>
      <li><%= post.body %></li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Post", new_post_path %>

